@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&family=Lalezar&family=Reem+Kufi:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back {
    background-image: url(back.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

.logo {
    color: blue;
    font-family: "Reem Kufi", sans-serif;
    text-decoration: none;
    font-size: 35px;
    font-weight: 500;
}

header nav a {
    color: red;
    text-decoration: none;
    font-family: "Lalezar", system-ui;
    font-size: 25px;
    margin: 10px;
}

.main {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-right: 100px;
    width: 100%;
    height: 100vh; /* استخدام 100vh بدلاً من min-height */
    text-align: right; /* لضمان أن النص متوسّط */
}

.text h1 {
    color: rgb(0, 47, 255);
    font-size: 80px;
    font-family: "Reem Kufi", sans-serif;
}

.text h3 {
    font-size: 25px;
    font-family: "Fustat", sans-serif;
    color: rgb(216, 193, 193);
}

.text h2 {
    font-size: 30px;
    font-family: "Fustat", sans-serif;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    background: rgb(201, 197, 197);
}

.info .tee {
    display: block;
    margin: auto;
    width: 27em;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}

.info1-text h1 {
    font-size: 40px;
    color: blue;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: "Reem Kufi", sans-serif;
    position: relative;
    z-index: 2;
}

.info1-text h2 {
    font-family: "Fustat", sans-serif;
}
.info1-text .end{
    margin-bottom: 80px;
}
.dector{
    background: linear-gradient(to left top ,blue, black);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 80px;
}
.cart{
    width: 325px;
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2);
    margin: 20px;
}
.cart img{
    width: 100%;
    height: auto;
}
.cart-text{
    padding: 12px;
}
.cart-text h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.cart-text p{
    line-height: 1.3;
    font-family: "Fustat", sans-serif;
}
.dector h1{
    display: flex;
    justify-content: center;
    text-align: center;
}
.social{
    background-color: rgb(184, 184, 184);
    width: 100%;
}
.social .text-{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: blue;

}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.media p{
    background-color: rgb(255, 255, 255);
    padding: 20px 60px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.9);
    border-radius: 8px;
    margin-bottom: 20px;
    color: rgb(15, 221, 15);
}
.media p i{
    font-size: 20px;
}
.media a{
    background-color: white;
    padding: 20px 60px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.9);
    border-radius: 8px;
    text-decoration: none;
    color: rgb(3, 99, 224);
    margin-bottom: 90px;
}
.media .text-0{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
footer{
    background-color: rgb(184, 184, 184);
    width: 100%;
    padding-bottom: 10px;
    padding: 20px;
}
footer .con{
    background-color: rgb(10, 33, 241);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .con h1{
    color: white;
    font-size: 20px;
}
@media (max-width:1000px){
    .text h1{
        font-size: 60px;
    }
    .text h2{
        font-size: 25px;
    }
    .main{
        padding-right: 40px;
    }
    .text h3{
        font-size: 20px;
    }
}
@media (max-width:750px){
    .nav-farabi{
        display: none;
    }
}
@media (max-width:500px){
    footer .con h1{
        font-size: 16px;
    }
    .info1-text h2{
        font-size: 18px;
    }
    .info1-text h1{
        font-size: 33px;
    }
    .info .tee{
        width: 18em;
    }
    .text-0 h1{
        font-size: 3px;
    }
}
@media (max-width:450px){
    .text h1{
        font-size: 40px;
    }
    .text h2{
        font-size: 20px;
    }
    .main{
        padding-right: 20px;
    }
    .text h3{
        font-size: 15px;
    }
    .cart{
        width: 250px;
    }
    footer .con h1{
        font-size: 11px;
    }
}